// Define variables for your color scheme

// For example:
$red: #A3393C;
$blue: #317B96;
$yellow: #D0B054;
$orange: #C67601;
$green: #426A5A;
$gray: #000000;
$dark-gray: #323232;
$darker-gray: #121212;
$light-gray: #F4F4F4;
