// Specific CSS for your home-page
body{
  background-color: $dark-gray;
  color: $light-gray;
}

.form-control{
  background-color: $darker-gray !important;
  color: $light-gray !important;
  border: none !important;
}

label{
  color: $light-gray;
}