// Specific CSS for your home-page
body{
  background-color: $light-gray;
  color: $darker-gray;
}

.banner .form-control{
  background-color: $darker-gray !important;
  color: $light-gray !important;
  border: none !important;
}

.banner label{
  color: $light-gray;
}
