<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <% @conversations.each do |conversation| %>
        <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
          <% if conversation.recipient(current_user).name.nil? %>
            <%= link_to conversation.recipient(current_user).email, conversation_messages_path(conversation) %>
          <% else %>
            <%= link_to conversation.recipient(current_user).email, conversation_messages_path(conversation) %>
          <% end %>
          <% if !conversation.unread_message_count(current_user).zero? %>
          <span class="badge"><%= conversation.unread_message_count(current_user) %></span>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>