.card {
  height: 175px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  background-size: cover !important;
  background-position: center;
  color: $light-gray;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  margin: 10px 0;
  border-radius: 3px;
  // border: 0.5px solid $light-gray;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $red;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 3px;
}
.card-link:hover {
  opacity: 0.3;
}
