.footer {
  background: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  color: $light-gray;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $light-gray;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: opacity 0.5s, color 0.5s;
}
.footer-links a:hover {
  color: $red;
  opacity: 1;
}
.footer .fa-heart {
  color: $red;
}