.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid rgba(0,0,0,0.6);
  background-color: lightgrey;
  color: black;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1)
}

.message:first-child{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 10px;
}

.message:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

textarea {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  border-radius: 3px;
  background-color: lightgrey;
  margin: 10px;
  color: black;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 10px;
  min-width: 100px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
