.messagecontainer {
    border: 2px solid #dedede;
    background-color: #f1f1f;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.messagecontainer img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
